<% if notice %>  
  <div class="alert alert-success" role="alert"><p id="notice"><%= notice %></p></div>
<% end %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Articles</h1>
  </div>
</div>
    <div class="row"> 
      <div class="col-md-8 col-md-offset-2">
        <% @articles.each do |article| %>
          <div class="col-md-6">
            <div class="thumbnail">
              <%= link_to(:controller => "articles", :action => "show", :id => article) do %>
                <%= image_tag article.image.medium %>
             <% end %>
                <div class="caption">
                  <%= link_to(:controller => "articles", :action => "show", :id => article) do %>
                    <h3><%= article.title %></h3>
                    <p class="text-card"><%= article.body %></p>
                  <% end %>
                  <% if current_admin_user %>
                    <p>
                      <%= link_to 'Edit', edit_article_path(article), :class => "btn btn-primary" %>
                      <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
                    </p>
                  <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
 


